/*

font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;
 
*/
/* .container {
  border: 1px solid red;
} */
p,a {
  font-family: "Roboto", sans-serif;
}
.penguin-header {
  background-color: #fffbf0;
}
.penguin-header-01,
.penguin-header-02 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}
.penguin-header-01 {
  color: #fabe4c;
}
.penguin-header-02 {
  color: #363958;
}
.penguin-button {
  background-image: linear-gradient(#a4bc46, #85a019);
  color: white;
}
/* hedaer section */

.penguin-items,
.penguin-items img {
  border-radius: 0.7rem;
  border: none;
}
.penguin-items img {
  width: 334px;
  height: 327px;
  padding: 1rem;
  background-color: #f1f1f1;
}
.penguin-text {
  border: none;
  background-color: #ffffff;
}
.penguin-jacket h2 {
  font-family: "Bebas Neue", cursive;
  color: #363958;
  font-size: 2rem;
}
.penguin-text h4 {
  font-family: "Roboto", sans-serif;
  color: #363958;
  font-size: 1.2rem;
}
.penguin-text h3 {
  color: #fabe4c;
  font-size: 2rem;
  font-weight: bold;
}
/* main section */
.penguin-about a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #363958;
  font-weight: bold;
  font-size: 1.5rem;
}
.penguin-about img {
  width: 45%;
}
/* about */


.bonus-bg{
  background-color: #F1F1F1;
}
.bonus-bg a{
  text-decoration: none;
}
.bonus{
  display: block;
}
/* bonus */